{% extends "kdash/base.html" %}
{% load sekizai_tags humanize pagination_tags common_tags %}


    <div class="d-flex flex-row mb-2">
        <div class="mr-auto">
            <h5>Reports</h5>
        </div>

        <div class="d-flex align-items-center">
        </div>
    </div>
{% block right_actual_content %}

    <div class="row">
        <div class="col-12">

{{report_section_list}}

        </div>
    </div>
{% endblock %}